DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=
DISCORD_GUILD_ID=
DISCORD_ADMIN_CHANNEL_ID=
DISCORD_ADMIN_USER_IDS=
DISCORD_APPROVAL_WEBHOOK_URL=
DISCORD_UPLOAD_DB=
DISCORD_UPLOAD_MAX_BYTES=
DISCORD_GATEWAY_ENABLED=1
DISCORD_REGISTER_COMMANDS=1
PUBLIC_BASE_URL=
TABLE_ADMIN_AUTH_DB=
TABLE_ADMIN_AUDIT_LOG=
TABLE_ADMIN_TOKEN=
